@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'IRLotus';
  src: local('IRLotus'), url(../font/IRLotus.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'IranNataliq';
  src: local('IranNataliq'), url(../font/IranNastaliq.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'IRANSansX-Regular';
  src: local('IRANSansX-Regular'), url(../font/IRANSansX-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
html {
  font-family:   "IranNataliq";
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}
body {
  font-family: "IRANSansX-Regular","IRLotus","IranNataliq","Arciform Sans Regular", sans-serif;

}
.center {
  display: block;
  margin-left:auto;
 margin-right: auto; 
 width: 400px;  
 height: auto;  
}
.centerdetail {
  float: left;
  display: block;
  margin-left:0;
 margin-right: auto; 
 width: 250px;  
 height: auto;  
}
.customStyles {
  top: '50%';
  left : '50%';
  right: 'auto';
  width: '70%';
  bottom: 'auto';
  margin-Right: '-50%';
  transform: 'translate(-50%, -50%)';
}
nav {
  font-family:   "IranNataliq";
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  font-family: "IRANSansX-Regular","IranNataliq","IRLotus", sans-serif;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "IRANSansX-Regular","IranNataliq","IRLotus", sans-serif;
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.pro-result {
  margin-top: 30px;
  align-items: center;
}
.pro-result .pagination-style:last-child {
  text-align: right;
}
.pagination-style .pagination ul {
  padding-left: 0;
  margin-bottom: 0px;
  display: flex;
}
.pagination-style .pagination ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
}
.pagination-style .pagination ul li button {
  color: #000;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pagination-style .pagination ul li button.active,
.pagination-style .pagination ul li button:hover {
  background-color: #13b5ea;
  border: 1px solid #13b5ea;
  color: #fff !important;
}

.pagination-style .show-result p {
  margin-bottom: 0px;
  color: #bbb;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.read-more-link{
  color: rgb(226, 43, 43);
  text-decoration: underline;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
  margin-left:auto;
 margin-right: auto; 
direction:rtl;
 width: 400px;  
 height: auto;  
 
}
.extra-content{
  color: cornflowerblue;
  font-weight: 500;
}
.modal{

  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  /* position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); */
}

/* .modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
} */


.display-block {
  display: block;
}

.display-none {
  display: none;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.detail  {
direction: rtl;
}
.child {
  float: right;
margin-top: 5px;
  width: 350px;
height: auto;
}
.close{
margin: 0ch;
  height: 35px;
    width: 35px;
  
}